body {
  font-family: sans-serif;
  background-color: #315481;
  background-image: linear-gradient(to bottom, #315481, #918e82 100%);
  background-attachment: fixed;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  margin: 0;

  font-size: 14px;
}

.list{
  text-align:center;
  display: inline-block;
}

.listChild{
  width: 250px;
  height: 250px;
  border: #ddd solid 1px;
  margin: 17px;
  float: left;
}
.glyphicon{
  clear: both;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 20px;
  min-height: 100%;
  background: white;
}

#img{
  width: 200px;
  height: 150px;
}
